@model SettingCreateVM
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1 class="my-5 text-center">Create Setting Data</h1>

    <form method="post" enctype="multipart/form-data" asp-action="Create">
        <div class="form-group mt-3">
            <input asp-for=Key class="form-control" placeholder="Key" />
        </div>
        <div class="form-group mt-3">
            <input asp-for=Value class="form-control" placeholder="Value" />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <a asp-action="Index" class="btn btn-primary">Back</a>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>

