
@{
    ViewData["Title"] = "Index";
}

@section Links{
    <link rel="stylesheet" href="~/assets/scss/contact/contact.css">
}
@section Scripts{
    <script src="~/assets/js/contact.js"></script>
}

<main>

    <section id="mini-nav">
        <div class="container">
            <div class="contents">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa-sharp fa-solid fa-house-chimney"></i>
                    Home
                </a>
                <i class="fa-light fa-chevron-right"></i>
                <span>Contact</span>
            </div>
            <hr>
        </div>
    </section>

    <section id="google-map">
        <div class="container">
            <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.428674853688!2d49.85137057578398!3d40.37719087144599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d079efb5163%3A0xc20aa51a5f0b5e01!2sCode%20Academy!5e0!3m2!1sen!2saz!4v1690528073087!5m2!1sen!2saz"
                        width="1320" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>

    <section id="contact" class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="left">
                        <div class="heading">
                            <h5>Contact Us</h5>
                            <p>
                                Contrary to popular belief, Lorem
                                Ipsum is simply random text.
                                It has roots in a piece of
                                classical Latin literature
                                from 45 BC, maki years old.
                            </p>
                        </div>
                        <div class="contact-widgets">
                            <div class="cw-item">
                                <i class="fa-light fa-location-dot"></i>
                                <div class="text">
                                    <span>Address:</span>
                                    <p>60-49 Road 11378 New York</p>
                                </div>
                            </div>
                            <div class="cw-item">
                                <i class="fa-light fa-mobile"></i>
                                <div class="text">
                                    <span>Phone:</span>
                                    <p>+994 51 502 43 85</p>
                                </div>
                            </div>
                            <div class="cw-item">
                                <i class="fa-light fa-envelope"></i>
                                <div class="text">
                                    <span>Email:</span>
                                    <p>rasulvh@code.edu.az</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="right">
                        <div class="heading">
                            <h5>Leave A Comment</h5>
                            <p>Our staff will call back later and answer your questions.</p>
                        </div>
                        <form>
                            <div class="up mb-4">
                                <input type="text" placeholder="Your name">
                                <input type="text" placeholder="Your email">
                            </div>
                            <div class="down mb-4">
                                <textarea placeholder="Your message"></textarea>
                            </div>
                            <button>SEND MESSAGE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>