@model SliderCreateVM
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1 class="my-5 text-center">Create Slider</h1>

    <form method="post" enctype="multipart/form-data" asp-action="Create">
        <div class="form-group mt-3">
            <lable>Image</lable>
            <input asp-for=Image class="form-control" />
        </div>
        <div class="form-group mt-3">
            <input asp-for=Heading class="form-control" placeholder="Heading" />
        </div>
        <div class="form-group mt-3">
            <input asp-for=SubHeading class="form-control" placeholder="Sub Heading" />
        </div>
        <div class="form-group mt-3">
            <input asp-for=Text class="form-control" placeholder="Text" />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <a asp-action="Index" class="btn btn-primary">Back</a>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>