
@{
    ViewData["Title"] = "Index";
}

@section Links{
    <link rel="stylesheet" href="~/assets/scss/shop/shop.css">
}
@section Scripts{
    <script src="~/assets/js/shop.js"></script>
}

<main>

    <section id="mini-nav">
        <div class="container">
            <div class="contents">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa-sharp fa-solid fa-house-chimney"></i>
                    Home
                </a>
                <i class="fa-light fa-chevron-right"></i>
                <span>Shop</span>
            </div>
            <hr>
        </div>
    </section>

    <section id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1">
                    <div class="category">
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="">Men</a></li>
                            <li><a href="">Women</a></li>
                            <li><a href="">Kids</a></li>
                        </ul>
                    </div>
                    <div class="brand mt-5">
                        <h4>Brands</h4>
                        <ul>
                            <li><input id="cb-1" type="checkbox"> <label for="cb-1">Calvin Klein</label></li>
                            <li><input id="cb-2" type="checkbox"> <label for="cb-2">Diesel</label></li>
                            <li><input id="cb-3" type="checkbox"> <label for="cb-3">Polo</label></li>
                            <li><input id="cb-4" type="checkbox"> <label for="cb-4">Tommy Hilfiger</label></li>
                        </ul>
                    </div>
                    <div class="price-slider mt-5">
                        <h4>Price</h4>
                        <div class="price-input">
                            <div class="field">
                                <span>Min</span>
                                <input type="number" class="input-min" value="25">
                            </div>
                            <div class="separator">-</div>
                            <div class="field">
                                <span>Max</span>
                                <input type="number" class="input-max" value="75">
                            </div>
                        </div>
                        <div class="slider">
                            <div class="progress"></div>
                        </div>
                        <div class="range-input">
                            <input type="range" class="range-min" min="0" max="100" value="25" step="1">
                            <input type="range" class="range-max" min="0" max="100" value="75" step="1">
                        </div>
                    </div>
                    <div class="tags mt-5">
                        <h4>Tags</h4>
                        <div class="tags-item">
                            <a href="">Towel</a>
                            <a href="">Shoes</a>
                            <a href="">Coat</a>
                            <a href="">Dresses</a>
                            <a href="">Trousers</a>
                            <a href="">Backpack</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="product-list">
                        <div class="row">
                            <div data-id="1" class="product-card col-lg-4 col-sm-6">
                                <div class="image">
                                    <img src="~/assets/img/home/products/man-1.jpg.webp" alt="women-1">
                                    <i class="fa-light fa-heart"></i>
                                    <i class="fa-solid fa-heart d-none"></i><!-- Choosen heart in orange color -->
                                    <div class="bottom">
                                        <i class="fa-light fa-basket-shopping"></i>
                                        <div class="view">
                                            <a href="">
                                                <span>View Item</span>
                                                <i class="fa-regular fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="category-name">COAT</p>
                                    <a href="">Item 1</a>
                                    <p class="price">$13.00</p>
                                </div>
                            </div>
                            <div data-id="2" class="product-card col-lg-4 col-sm-6">
                                <div class="image">
                                    <img src="~/assets/img/home/products/man-2.jpg.webp" alt="women-1">
                                    <i class="fa-light fa-heart"></i>
                                    <i class="fa-solid fa-heart d-none"></i><!-- Choosen heart in orange color -->
                                    <div class="bottom">
                                        <i class="fa-light fa-basket-shopping"></i>
                                        <div class="view">
                                            <a href="">
                                                <span>View Item</span>
                                                <i class="fa-regular fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="category-name">COAT</p>
                                    <a href="">Item 1</a>
                                    <p class="price">$13.00</p>
                                </div>
                            </div>
                            <div data-id="3" class="product-card col-lg-4 col-sm-6">
                                <div class="image">
                                    <img src="~/assets/img/home/products/man-3.jpg.webp" alt="women-1">
                                    <i class="fa-light fa-heart"></i>
                                    <i class="fa-solid fa-heart d-none"></i><!-- Choosen heart in orange color -->
                                    <div class="bottom">
                                        <i class="fa-light fa-basket-shopping"></i>
                                        <div class="view">
                                            <a href="">
                                                <span>View Item</span>
                                                <i class="fa-regular fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="category-name">COAT</p>
                                    <a href="">Item 1</a>
                                    <p class="price">$13.00</p>
                                </div>
                            </div>
                            <div data-id="4" class="product-card col-lg-4 col-sm-6">
                                <div class="image">
                                    <img src="~/assets/img/home/products/man-4.jpg.webp" alt="women-1">
                                    <i class="fa-light fa-heart"></i>
                                    <i class="fa-solid fa-heart d-none"></i><!-- Choosen heart in orange color -->
                                    <div class="bottom">
                                        <i class="fa-light fa-basket-shopping"></i>
                                        <div class="view">
                                            <a href="">
                                                <span>View Item</span>
                                                <i class="fa-regular fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="category-name">COAT</p>
                                    <a href="">Item 1</a>
                                    <p class="price">$13.00</p>
                                </div>
                            </div>
                            <div data-id="5" class="product-card col-lg-4 col-sm-6">
                                <div class="image">
                                    <img src="~/assets/img/home/products/man-1.jpg.webp" alt="women-1">
                                    <i class="fa-light fa-heart"></i>
                                    <i class="fa-solid fa-heart d-none"></i><!-- Choosen heart in orange color -->
                                    <div class="bottom">
                                        <i class="fa-light fa-basket-shopping"></i>
                                        <div class="view">
                                            <a href="">
                                                <span>View Item</span>
                                                <i class="fa-regular fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="category-name">COAT</p>
                                    <a href="">Item 1</a>
                                    <p class="price">$13.00</p>
                                </div>
                            </div>
                            <div data-id="6" class="product-card col-lg-4 col-sm-6">
                                <div class="image">
                                    <img src="~/assets/img/home/products/man-1.jpg.webp" alt="women-1">
                                    <i class="fa-light fa-heart"></i>
                                    <i class="fa-solid fa-heart d-none"></i><!-- Choosen heart in orange color -->
                                    <div class="bottom">
                                        <i class="fa-light fa-basket-shopping"></i>
                                        <div class="view">
                                            <a href="">
                                                <span>View Item</span>
                                                <i class="fa-regular fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="category-name">COAT</p>
                                    <a href="">Item 1</a>
                                    <p class="price">$13.00</p>
                                </div>
                            </div>
                            <div data-id="7" class="product-card col-lg-4 col-sm-6">
                                <div class="image">
                                    <img src="~/assets/img/home/products/man-1.jpg.webp" alt="women-1">
                                    <i class="fa-light fa-heart"></i>
                                    <i class="fa-solid fa-heart d-none"></i><!-- Choosen heart in orange color -->
                                    <div class="bottom">
                                        <i class="fa-light fa-basket-shopping"></i>
                                        <div class="view">
                                            <a href="">
                                                <span>View Item</span>
                                                <i class="fa-regular fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="category-name">COAT</p>
                                    <a href="">Item 1</a>
                                    <p class="price">$13.00</p>
                                </div>
                            </div>
                            <div data-id="8" class="product-card col-lg-4 col-sm-6">
                                <div class="image">
                                    <img src="~/assets/img/home/products/man-1.jpg.webp" alt="women-1">
                                    <i class="fa-light fa-heart"></i>
                                    <i class="fa-solid fa-heart d-none"></i><!-- Choosen heart in orange color -->
                                    <div class="bottom">
                                        <i class="fa-light fa-basket-shopping"></i>
                                        <div class="view">
                                            <a href="">
                                                <span>View Item</span>
                                                <i class="fa-regular fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="category-name">COAT</p>
                                    <a href="">Item 1</a>
                                    <p class="price">$13.00</p>
                                </div>
                            </div>
                            <div data-id="9" class="product-card col-lg-4 col-sm-6">
                                <div class="image">
                                    <img src="~/assets/img/home/products/man-1.jpg.webp" alt="women-1">
                                    <i class="fa-light fa-heart"></i>
                                    <i class="fa-solid fa-heart d-none"></i><!-- Choosen heart in orange color -->
                                    <div class="bottom">
                                        <i class="fa-light fa-basket-shopping"></i>
                                        <div class="view">
                                            <a href="">
                                                <span>View Item</span>
                                                <i class="fa-regular fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="category-name">COAT</p>
                                    <a href="">Item 1</a>
                                    <p class="price">$13.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="load-more">
                        <button>
                            <i class="fa-light fa-loader"></i>
                            Load More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>