
@{
    ViewData["Title"] = "Index";
}

@section Links{
    <link rel="stylesheet" href="~/assets/scss/wishlist/wishlist.css">
}
@section Scripts{
    <script src="~/assets/js/wishlist.js"></script>
}

<main>

    <section id="mini-nav">
        <div class="container">
            <div class="contents">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa-sharp fa-solid fa-house-chimney"></i>
                    Home
                </a>
                <i class="fa-light fa-chevron-right"></i>
                <a asp-controller="Shop" asp-action="Index">
                    Shop
                </a>
                <i class="fa-light fa-chevron-right"></i>
                <span>Wishlist</span>
            </div>
            <hr>
        </div>
    </section>

    <section id="items">
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th class="img"><span>Image</span></th>
                        <th class="name"><span>Name</span></th>
                        <th class="price"><span>Price</span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-id="1">
                        <td class="img-box">
                            <img src="~/assets/img/home/products/man-1.jpg.webp" alt="">
                        </td>
                        <td><span class="item-name">Item 1</span></td>
                        <td><span class="item-price">$23.00</span></td>
                        <td>
                            <i class="fa-light fa-x"></i>
                        </td>
                    </tr>
                    <tr data-id="2">
                        <td class="img-box">
                            <img src="~/assets/img/home/products/man-2.jpg.webp" alt="">
                        </td>
                        <td><span class="item-name">Item 2</span></td>
                        <td><span class="item-price">$20.00</span></td>
                        <td>
                            <i class="fa-light fa-x"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</main>