@model FaqVM

@{
    ViewData["Title"] = "Index";
}

@section Links{
    <link rel="stylesheet" href="~/assets/scss/faq/faq.css">
}
@section Scripts{
    <script src="~/assets/js/faq.js"></script>
}

<main>

    <section id="mini-nav">
        <div class="container">
            <div class="contents">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa-sharp fa-solid fa-house-chimney"></i>
                    Home
                </a>
                <i class="fa-light fa-chevron-right"></i>
                <span>FAQ</span>
            </div>
            <hr>
        </div>
    </section>

    <section id="faqs">
        <div class="container">
            <!-- In backend classes like faq-1, faq-2 will be dynamically generated -->
            @for (int i = 1; i <= Model.Faqs.Count; i++)
            {
                <div class="faq faq-@i">
                    <div class="head" data-id="@i">
                        <div class="icons">
                            <i class="fa-regular fa-minus"></i>
                            <i class="fa-regular fa-plus d-none"></i>
                        </div>
                        <div class="text">
                            <p>@Model.Faqs[i-1].Heading</p>
                        </div>
                    </div>
                    <div class="body">
                        <p>@Model.Faqs[i-1].Text</p>
                    </div>
                </div>
            }
        </div>
    </section>

</main>