@model LoginVM

@{
    ViewData["Title"] = "Login";
}

@section Links{
    <link rel="stylesheet" href="~/assets/scss/account/account.css">
}
@section Scripts{
    <script src="~/assets/js/account.js"></script>
}

<main>

    <section id="mini-nav">
        <div class="container">
            <div class="contents">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa-sharp fa-solid fa-house-chimney"></i>
                    Home
                </a>
                <i class="fa-light fa-chevron-right"></i>
                <span>Login</span>
            </div>
            <hr>
        </div>
    </section>

    <section id="form">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="register-form">
                        <h2>Login</h2>
                        <form method="post" asp-action="Login">
                            <div class="input">
                                <label for="username-email">Username or email address *</label>
                                <input asp-for="EmailOrUsername" id="username-email">
                            </div>
                            <div class="input">
                                <label for="pass">Password *</label>
                                <input asp-for="Password" id="username">
                            </div>
                            <button type="submit">LOGIN</button>
                        </form>
                        <div asp-validation-summary="All" class="text-danger mt-3"></div>
                        <div class="or-switch">
                            <a asp-controller="Account" asp-action="Register">OR REGISTER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>