@model RegisterVM

@{
    ViewData["Title"] = "Register";
}

@section Links{
    <link rel="stylesheet" href="~/assets/scss/account/account.css">
}
@section Scripts{
    <script src="~/assets/js/account.js"></script>
}


<main>

    <section id="mini-nav">
        <div class="container">
            <div class="contents">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa-sharp fa-solid fa-house-chimney"></i>
                    Home
                </a>
                <i class="fa-light fa-chevron-right"></i>
                <span>Register</span>
            </div>
            <hr>
        </div>
    </section>

    <section id="form">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="register-form">
                        <h2>Register</h2>
                        <form method="post" asp-action="Register">
                            <div class="input">
                                <label for="email">Email address *</label>
                                <input asp-for="Email" id="email">
                            </div>
                            <div class="input">
                                <label for="fullname">Fullname *</label>
                                <input asp-for="Fullname" id="fullname">
                            </div>
                            <div class="input">
                                <label for="username">Username *</label>
                                <input asp-for="Username" id="username">
                            </div>
                            <div class="input">
                                <label for="pass">Password *</label>
                                <input asp-for="Password" id="username">
                            </div>
                            <div class="input">
                                <label for="con-pass">Confirm Password *</label>
                                <input asp-for="RepeatPassword" id="con-pass">
                            </div>
                            <button type="submit">REGISTER</button>
                        </form>
                        <div asp-validation-summary="All" class="text-danger mt-3"></div>
                        <div class="or-switch">
                            <a asp-controller="Account" asp-action="Login">OR LOGIN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>