@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}

@section Links{
    <link rel="stylesheet" href="~/assets/scss/account/account.css">
}
@section Scripts{
    <script src="~/assets/js/account.js"></script>
}

<main>

    <section id="mini-nav">
        <div class="container">
            <div class="contents" style="width:210px">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa-sharp fa-solid fa-house-chimney"></i>
                    Home
                </a>
                <i class="fa-light fa-chevron-right"></i>
                <span>Reset Password</span>
            </div>
            <hr>
        </div>
    </section>

    <section id="form">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="register-form">
                        <h2>Forgot Password</h2>
                        <form method="post" asp-action="ResetPassword">
                            <div class="input">
                                <label for="pass">Password *</label>
                                <input asp-for="Password" id="pass">
                            </div>
                            <div class="input">
                                <label for="repeat-pass">Repeat Password *</label>
                                <input asp-for="RepeatPassword" id="repeat-pass">
                            </div>
                            <input type="hidden" asp-for=Token value="@Model.Token" />
                            <input type="hidden" asp-for=UserId value="@Model.UserId" />
                            <button type="submit">SUBMIT</button>
                        </form>
                        <div asp-validation-summary="All" class="text-danger mt-3"></div>
                        <div class="or-switch">
                            <a asp-controller="Account" asp-action="Login">OR BACK TO LOGIN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>