
@{
    ViewData["Title"] = "VerifyEmail";
}

@section Links{
    <link rel="stylesheet" href="~/assets/scss/home/home.css">
}
@section Scripts{
    <script src="~/assets/js/home.js"></script>
}

<div class="container my-3">
    <div class="alert alert-info" role="alert">
        Please check your email address !
    </div>
</div>